<div class="m-t-60" fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="45" fxFlex.xs="70" fxFlex.sm="50" class="m-t-50"> 
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="18px">
      <div>
        <!-- <svg width="40" height="40">
          <image xlink:href="/assets/img/close_icon.svg" width="40" height="40" />
        </svg>
        -->
      </div>
      <div class="title-display-2 text-center">Something went wrong</div>
      <div>
        <div class="text-display-3 text-center">Sorry the page you were looking for was not found.</div>
      </div>
      
    </div>
  </div>
</div>
