.spinner-wrapper {
  margin: 0 auto;
}
.spinner-text {
  color: #fff;
  width: 80%;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  top: 2rem;
  margin: 0 auto;
  text-align: center;

  .progress {
    text-align: center;
  }
}


