<mat-dialog-content>
  <div class="close-dialog-img pointer">
    <img (click)="close()" src="assets/img/close_modal.svg" />
  </div>
  <div class="title-display-3 text-center m-b-6">{{ title }}</div>
  <div class="text-display-3 text-center m-b-6">{{ message }}</div>
</mat-dialog-content>
<mat-dialog-actions align="center" class="confirm-buttons-container">
  <div class="width-100 m-t-7" fxLayout="row">
    <button type="submit" mat-ripple class="btn btn-large btn-rounded bg-20 width-100" mat-dialog-close tabindex="-1">
      {{ cancelButtonText }}
    </button>
  </div>
</mat-dialog-actions>
