@import '../../../../theme/common/styles.common.scss';

section {
    margin-top: 24px;

    &.record {
        margin-top: 60px;
        text-align: center;
    }

    .complete-register-title {
        margin-bottom: 20px;
    }
}

.record-stop-btn {
    margin: 30px auto;

    span {
        display: inline-block;
        width: 20px;
        height: 20px;

        background-color: map-get($palette, black);

        transition: background-color 0.3s linear;

        &:hover {
            background-color: map-get($palette, 140);
        }
    }
}

.cancel-btn {
    width: auto;
    margin: 30px auto 0;
}