<div class="" [formGroup]="form">
    <ng-container *ngIf="form.get('password'); let password">
        <app-ji-input 
            [parentForm]="form" 
            [type]="'password'"
            [input]="'password'" 
            [title]="'New password'"
            [placeholder]="'Add your new password'" 
            [errors]="password.errors"
            [hasError]="password.invalid && (password.dirty || password.touched)"></app-ji-input>
    </ng-container>
    <ng-container *ngIf="form.get('confirmPassword'); let confirmPassword">
        <app-ji-input 
            [parentForm]="form" 
            [type]="'password'"
            [input]="'confirmPassword'" 
            [title]="'Confirm new password'"
            [placeholder]="'Re-enter your new password'" 
            [errors]="confirmPassword.errors"
            [hasError]="confirmPassword.invalid 
                && (
                    confirmPassword.dirty 
                    || confirmPassword.touched
                )"></app-ji-input>
    </ng-container>
</div>