<app-form-header 
    [title]="'Reset Password'"
    [backTo]="['/', routeNames.login]"></app-form-header>    
    
<div class="wrapper">
    <section>
        <app-errors [errors]="this.errors"></app-errors>
        <form [formGroup]="resetPasswordForm" class="form-one m-b-40">
    
            <app-password-match-input formControlName="password"></app-password-match-input>
    
            <div class="m-t-40">
                <button 
                    mat-ripple 
                    type="button" 
                    class="btn btn-large btn-rounded bg-20 width-100"
                    [disabled]="resetPasswordForm.invalid" 
                    (click)="handleSubmit()">
                    Reset
                </button>
            </div>
        </form>
    </section>
</div>