h1 {
    margin: 40px 0;
}

form {
    position: relative;

    .clear {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
    }

    input {
        padding-right: 50px;
    }
}

.teachers-results {
    margin-bottom: 20px;
}

li {
    margin-top: 20px;
}

p.teachers-results {
    margin-top: 40px;
    text-align: center;
}